<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">


    <!-- bean definitions here -->
	<bean id="iosmobile" class="com.personal.library.IosPhone">
		<constructor-arg index="0">
			<value>16001000010</value>
		</constructor-arg>
		<constructor-arg index="1">
			<value>256000000000</value>
		</constructor-arg>
		<constructor-arg index="2">
			<value>"IOS Pro Max"</value>
		</constructor-arg>
		<constructor-arg index="3">
			<value>16</value>
		</constructor-arg>
	</bean>
	
	
	<bean id="Singtel basic sim" class="com.personal.sim.Singtel">
		<constructor-arg index="0">
			<value>"Singtel basic"</value>
		</constructor-arg>
		<constructor-arg index="1">
			<value>1500000000</value>
		</constructor-arg>
		<constructor-arg>
			<value>"97331436"</value>
		</constructor-arg>
		<constructor-arg>
			<value>"+65"</value>
		</constructor-arg>
	</bean>
	
	
	<bean id="Peter" class="com.personal.User.User">
		<constructor-arg index="0" ref="iosmobile"></constructor-arg>
		<constructor-arg index="1" ref="Singtel basic sim"></constructor-arg>
		<constructor-arg index="2" value="username"></constructor-arg>
		<constructor-arg index="3" value="password"></constructor-arg>
	</bean>
</beans>